<div id="<%= dom_id recipe %>">
  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>

  <p>
    <strong>Ingredients:</strong>
    <%= @ingredients.name %>
  </p>

  <p>
    <%= recipe.content %>
  </p>

</div>
