<div class="container my-5">
  <div class="row justify-content-center text-center">
    <div class="col-md-8">
      <h1 class="display-4">Diga adeus ao<br>
        "o que vamos comer hoje?"</h1>
      <p class="lead text-muted">
        EasyFood transforma os ingredientes que você já tem em casa em receitas deliciosas e criativas,
        geradas por inteligência artificial. Chega de desperdício e falta de inspiração na cozinha!
      </p>
    </div>
  </div>

  <hr class="my-5">

  <div class="row align-items-center">
    <div class="col-md-6">
      <h2>Nossa Missão: Cozinhar com Inteligência</h2>
      <p>Acreditamos que cozinhar deve ser um ato de prazer e criatividade, não de estresse. O EasyFood nasceu da ideia de que a tecnologia pode ser a maior aliada na cozinha, ajudando você a economizar dinheiro, reduzir o desperdício de alimentos e, o mais importante, redescobrir a alegria de preparar suas próprias refeições.</p>
      <ul>
        <li><strong>Economize Dinheiro:</strong> Use o que você já tem na despensa e na geladeira.</li>
        <li><strong>Reduza o Desperdício:</strong> Dê um fim delicioso para aqueles ingredientes esquecidos.</li>
        <li><strong>Inspiração Infinita:</strong> Receba sugestões de pratos que você nunca imaginou.</li>
      </ul>
    </div>
    <div class="col-md-6 text-center"> <!-- Imagem EasyFood about -->
      <%= image_tag "easyfood_about.png", alt: "EasyFood about", style: "height: 250px;" %>
    </div>
  </div>

  <hr class="my-5">

  <div class="row justify-content-center text-center">
    <div class="col-md-8">
      <h2>Sobre o Projeto</h2>
      <p class="text-muted">
        Olá! Eu sou o Henrique Motta, um desenvolvedor full-stack apaixonado por tecnologia com experiência na área jurídica.
        O EasyFood é um projeto para explorar o potencial da inteligência artificial e resolver um problema que eu mesmo enfrentava todos os dias, mas principalmente para por em prática meus conhecimentos em programação. Espero que esta ferramenta torne sua vida na cozinha mais fácil e saborosa!
      </p>
      <div class="mt-4">
        <a href="https://linkedin.com/in/henriqueamotta/" class="text-secondary fs-2 mx-2"><i class="bi bi-linkedin"></i></a>
        <a href="https://github.com/henriqueamotta" class="text-secondary fs-2 mx-2"><i class="bi bi-github"></i></a>
      </div>
    </div>
  </div>
</div>
