<footer class="bg-secondary text-white text-center py-3 mt-auto">
  <div class="container">
    <p class="mb-0">
      &copy; <%= Time.now.year %> EasyFood. Todos os direitos reservados.
    </p>
    <p class="mb-0">
      Um projeto criado por Henrique Motta. <%= link_to "Sobre", "#", class: "text-white" %>
    </p>
  </div>
</footer>

<!-- bg-secondary: define a cor de fundo do footer -->
<!-- text-white text-center: define a cor do texto como branco e centraliza o conteúdo -->
<!-- py-3: adiciona padding vertical de 3 unidades -->
<!-- mt-auto: empurra o footer para o final da página -->
<!-- &copy; <%= Time.now.year %>: exibe o símbolo de copyright e o ano atual -->
